// Footer Begins
.wrapper.row4
  footer#footer.hoc.clear
    // ################################################################################################
    .one_third.first
      h6.title CONTACT
      ul.nospace.linklist.contact
        li
          i.fa.fa-map-marker
          address
            | Lamachaur-16 & 560273, Pokhara, 33610
        li
          i.fa.fa-phone
          |  +9779846822540
        li
          i.fa.fa-envelope-o
          |  bwmct2@gbs.edu.np

.wrapper.row5
  #copyright.hoc.clear
    p.fl_left
      | Copyright © 2017 - Class 12 - All Rights Reserved  
      
a#backtotop(href='#top')
  i.fa.fa-chevron-up

// JAVASCRIPTS
script(src='user/layout/scripts/jquery.min.js')
script(src='user/layout/scripts/jquery.backtotop.js')
script(src='user/layout/scripts/jquery.mobilemenu.js')
// IE9 Placeholder Support
script(src='user/layout/scripts/jquery.placeholder.min.js')
// / IE9 Placeholder Support
