doctype html
head
  title #{title}
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='user/layout/styles/layout.css', rel='stylesheet', type='text/css', media='all')
  link(href='user/layout/styles/bootstrap.min.css', rel='stylesheet', type='text/css', media='all')
  
  link(href='user/layout/styles/signup.css', rel='stylesheet', type='text/css', media='all')
  
  body#top
    .wrapper.row0
      #topbar.hoc.clear
        .fl_left
          ul.faico.clear
            li
              a.faicon-facebook(href='#')
                i.fa.fa-facebook
            li
              a.faicon-pinterest(href='#')
                i.fa.fa-pinterest
            li
              a.faicon-twitter(href='#')
                i.fa.fa-twitter
            li
              a.faicon-dribble(href='#')
                i.fa.fa-dribbble
            li
              a.faicon-linkedin(href='#')
                i.fa.fa-linkedin
            li
              a.faicon-google-plus(href='#')
                i.fa.fa-google-plus
            li
              a.faicon-rss(href='#')
                i.fa.fa-rss
        .fl_right
          ul.nospace.inline.pushright
            li
              i.fa.fa-phone
              | +9779814131898
            li
              i.fa.fa-envelope-o
              | bwmct2@gbs.edu.np
