// navigation
.wrapper.row1
  header#header.hoc.clear
    #logo.fl_left
      h1
        a(href='/') BWMCT
    nav#mainav.fl_right
      ul.clear
        li
          a(href='/') Home
        
        li
          a(href='/news_all') News      
        
        li
          a(href='/gallery') Gallery
        
        li
          a.drop(href='/predict') Fantasy
          ul
            li
              a(href='/login') Log In
            li
              a(href='/register') Register
              
            li
              a(href='/leader_board') Top Players
        li
          a(href='/fixtures') Fixtures
        li
          a(href='/results') Results
        li
          a(href='/about') About

// nav ends !
