// navigation
.wrapper.row1(style = 'background-color: #152819;')
  header#header.hoc.clear
    #logo.fl_left
      h1
        a(href='/') Fantasy Premier
    nav#mainav.fl_right
      ul.clear

        li
          a(href='/predict') Predict   

        li
          a(href='/my_team') My Team
        
        li
          a(href='/pick_up') Pick Up      
        
        li
          a(href='/transfers') Transfers
        
        li
          a(href='/my_points') Points

        li
          a(href='/my_rank') My Rank

        li
          a(href='/leader_board') Leaderboard
        
        li
          a(href='/logout') Log Out

// nav ends !
