extends inc/layout
block content
    .wrapper.row2
        h2.font-x3.uppercase.btmspace-80.underlined Bummer!
            .panel
                .panel-heading
                    .text-center ..........Error! 404 page that you requested cannot be found :(