// sponsor banner
.wrapper.row3
  main.hoc.container.clear
    // main body
    // ################################################################################################
    h2.font-x3.uppercase.btmspace-80.underlined
      | Main 
      a(href='#') Sponsors
    .group.center.btmspace-80
      article.one_quarter.first
        span.icon
          i.fa.fa-balance-scale
        h4.heading
          a(href='#') Timilsena Electronics
        p
          | All electronics goodies for house wiring, Solar, Sound systems etc are available. Contact: 061560898
      article.one_quarter
        span.icon
          i.fa.fa-bank
        h4.heading
          a(href='#') Satkar Traders
        p One place for your kitchen. Contact:123-456
      article.one_quarter
        span.icon
          i.fa.fa-plane
        h4.heading
          a(href='#') Batas
        p Drive through the world.Your way our service.Contact:123-456
      article.one_quarter
        span.icon
          i.fa.fa-graduation-cap
        h4.heading
          a(href='#') Bookmart
        p The stationary solution.Contact:123-456
    // sponsor banner ends
