.wrapper.bgded.overlay(style="background-image:url('user/images/demo/backgrounds/bg.jpg');")
  #pageintro.hoc.clear
    article.introtxt
      h2.heading
        | Welcome To Official Page of 
        strong BWMCT
      p Play Fantasy League And Win A Lot
      footer
        ul.nospace.inline.pushright
          li
            a.btn(href='register') SIGN UP
          li
            a.btn.inverse(href='login') LOGIN
    // ################################################################################################
