.wrapper.bgded.overlay(style="background-image:url('user/images/demo/backgrounds/bg2.jpg');")
  section#testimonials.hoc.container.clear
    // ################################################################################################
    h2.font-x3.uppercase.btmspace-80.underlined
      | Comments 
      a(href='#') From Visitors
    ul.nospace.group
      li.one_half.first
        blockquote
          | It is the best ever Cricket Tournament organised in Nepal. I have never seen such colaboration even in international standards.
        figure.clear
          img(src='images/demo/60x60.png', alt='')
          figcaption
            strong Paras Khadka
            br
            em Captain, Natinal Team
      li.one_half
        blockquote
          | This working team is the best one.They could be hired anytime to make out any program outstanding.
        figure.clear
          img(src='images/demo/60x60.png', alt='')
          figcaption
            strong Rabi Prasad Baral
            br
            em Principle, Gandaki Boarding School
    // ################################################################################################
